<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th><%= @p %></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.content %></td>
    <td><%= link_to 'Show', user_article_path(@user,article)%></td>
    <td><%= link_to 'Edit', edit_user_article_path(current_user,article) %></td>
    <td><%= link_to 'Destroy', user_article_path(@user,article), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_user_article_path(current_user) %>
