 <% content_for :state  do %>
    <div id="left_nav" class="left_box">
      <ul>
       <li><%= link_to('新鲜事',news_user_path(@user)) %></li>
       <li><%= link_to("日志",user_articles_path(@user)) %></li>
       <li><%= link_to("留言",user_messeges_path(@user)) %></li>
      </ul> 
    </div>
    <% end %>


<div class="box" id="left_column">
   <h2 id="heading"><%= @user.name %></h2>
  <% if is_current_user? %>
       <%= yield :state %>
     <% else %>

      <% if current_user.friend_with?(@user) %>
          <%= yield :state %>
          <%= link_to "解除好友关系", friendship_path(@user), :method => :delete  %>
      <% else %>
          <%= add_friend_button @user %>
      <% end %>

  <% end %>
</div>
