<%= render "base" %>
<div class="left">
  <%= render :partial => "home_left_sidebar"%>
</div>
<div class="middle">
  <div id="news_input_box">
    <%= render  "users/tools/news_input_box" %>
  </div>
  <div class="recent_news">
    <%=render_cell :user, :recent_news, :user => current_user %>
  </div>
</div>
<div class="right">
  <%= render "home_right_toolbar" %>
</div>

