<div id="show_base">
	<%= render "base" %>
</div>
<div id="show_left">
   <%= render "left" %>
</div>
<div id="show_middle">
  <% if is_current_user? %>
    <%= render "news_input_box" %>
  <% else %>
    <%= render "messeges_box" %>
  <% end %>
  <%= render_cell :user, :owner_news, :user => @user %>
  <%=  render_cell :messege, :show_messeges , :user => @user %> 
</div>
<div id="show_right">
  <%= render "right" %> 
</div>
