<%= render  "base" %>
<div id="individual_show_nav">
  <%= render :partial => "individual_show_nav" %>
</div>
<div id="left">
  <%= render :partial => "individual_left_sidebar" %>
</div>
<div id="middle">
  <div id="liuyanban">
    <%= render "users/tools/messeges_box" %>
  </div>
  <div id="haoyouxinxianshi">
   <%= render_cell :user, :owner_news, :user => @user %>
  </div>
  <div id="haoyouliuyan">
    
    <%= render_cell :messege, :show_messeges , :user => @user %> 
  </div>
</div>
<div id="right">
  <%= render :partial => "individual_right_toolbar" %>
</div>
