<% if current_user %>
  <ul class="secondary-nav">
    <li><%= link_to("首页",root_path) %></li>
    <li><%= link_to("个人主页",user_path(current_user)) %></li>
    <li><%= link_to("好友",friends_user_path(current_user)) %></li>
    <li><%= link_to("提醒", notifications_path) %></li>
  </ul>
  <ul class="user-nav" id="login">
    <li><%= link_to("站内信",root_path) %></li>
    <li><%= link_to("账号",root_path) %></li>
    <li><%= link_to("登出", destroy_user_session_path,:method => :delete) %></li>

  </ul>
<% else %>
  <ul class="user-nav" id="noligin">
    <li><%= link_to("注册",new_registration_path('user')) %></li>
    <li><%= link_to("登录",root_path) %></li>
  </ul>

<% end %>

