
<div class="log_in">
  <%= form_for :user,:url => user_session_path do |f| %>
      <%= render :partial => "shared/flash", 
        :locals => {:flash => flash} %>
     <div><%= f.label "账号:" %><br />
    <%= f.email_field :email %></div>
    <div><%= f.label "密码:" %><br />
      <%= f.password_field :password %></div><br />
    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label "下次自动登录" %></div><br />
    <% end -%>
    <div><%= f.button "登录马头网",:class => "uibutton confirm" %></div><br />
  <% end %>
  <%= button_to "立即注册帐号",new_user_registration_path,:class => "uibutton special",:method => :get %><br />
  <%= button_to "忘记密码？", new_password_path('user'), :class => "uibutton", :method => :get %>
</div>
<div id="new_ads">
  <div id="for_advertisement">
      for advertisement 
  </div>
</div>
<div id="brief_intro">
  <h3>马头网是一个一个真实社交网络，加入她你可以:</h1>
  <ul>
    <li>联络朋友，了解他们的最新动态</li>
    <li>用照片和日志记录生活，展示自我</li>
    <li>和朋友分享相片、音乐和电影</li>
    <li>自由、安全地控制个人隐私</li>
    <li>找到老同学结识新朋友</li>
  </ul>
</div>
