<%= form_for [@gallery,@photo],  :html => {:multipart => true} do |f| %>
  <p>
    <%= f.label "照片标题" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "描述照片" %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%=  f.file_field :image%>
  </p>
    <%= f.hidden_field :image_cache %>
  <p>
    <%= f.submit "上传" %>
  </p>
  <% end %>
