<% if is_current_user? %>
  <%= render :partial => "users/home_left_sidebar" %>
  <%= render 'user_galleries' %>
  <p>
   <%= link_to "新建相册",new_user_gallery_path(@user) %>
  </p>
<% else %>
  <%= render "users/individual_show_nav" %>
  <%= render :partial => "individual_galleries" %>
<% end %>

