<h1 id="xiangce"><%= @gallery.name %></h1>
<p>
<%= @gallery.description %>
</p>
<div id="photos">
  <% for photo in @gallery.photos %>
    <div class="photo">
      <div class="name">
        <%= photo.name %>
      </div>
      <div class="image">
        <%= link_to(image_tag(photo.image_url(:thumb).to_s),photo_path(photo)) %>
      </div>
      <div class="photo_action">
        <%= link_to "删除照片", photo_path(photo), :method => :destroy%>
      </div>
    </div>
  <% end %>
  <div id="gallery_action">
    <%= link_to "新增照片",upload_user_path(current_user) %>
    <%= link_to "删除相册", [@user,@gallery] ,:method => :delete %>
  </div>
</div>
