<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="<%= @description %>"/>
  <%= yield :style %>

</head>
<body>
  <div class="topbar">
        <div id="topbar_logo">
		<h3>
          <a href="/"> 马头网</a>
        </h3>
		</div>
		<div id="search_form">
			<%= render "shared/search_form" %>
		</div>
		<div id="user_nav">
		    <%= render "shared/user_nav" %>
		</div>      
  </div>
  
  <div id="content">
  <div class="flash">
     <%= show_flash  %>
  </div>
  
  <%= yield %>
  
  </div>
</body>
<div id="footer">
  <h6>Tassandar@2012</h6>
</div>
<%= yield :script %>
</html>
