<!DOCTYPE html>
<html>
<head>
  <%=content_tag 'title',"马头网|注册"%>
  <%= stylesheet_link_tag    "sign_up" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="注册"/>
</head>
<body>
  <div class="topbar">
        <h1>
          <a href="/"> 马头网</a>
        </h1>
        <h2 id="second-title">10秒钟找到你的所有朋友</h2>
      <h6 id="been-user">
        已经有马头网账号了，点击 <%= link_to "登录",new_session_path('user') %>
      <h6>
  </div>

<%= yield %>

</body>
</html>
